doctype html
html(lang="es")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        meta(name="msapplication-tap-highlight", content="no")


        meta(name="mobile-web-app-capable", content="yes")
        meta(name="application-name" content="Memedex")
        link(rel="icon" sizes="192x192", href="img/icon-192x192.png")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="Memedex")
        link(rel="apple-touch-icon" href="img/icon-152x152.png")

        meta(name="msapplication-TileImage" content="img/icon-144x144-precomposed.png")
        meta(name="msapplication-TileColor" content="#000000")

        link(rel="manifest", href="manifest.json")
        link(type='text/css', rel='stylesheet', href='css/app.min.css')

        title Memedex
    body
        header
            h1.title Memedex
            input.search(type="text")
        main
            .container-flex
                img(src="https://res.cloudinary.com/teepublic/image/private/s--jpl8fBQz--/t_Preview/b_rgb:0f7b47,c_limit,f_jpg,h_630,q_90,w_630/v1491381016/production/designs/1390988_1.jpg").item-flex
                img(src="https://res.cloudinary.com/teepublic/image/private/s--jpl8fBQz--/t_Preview/b_rgb:0f7b47,c_limit,f_jpg,h_630,q_90,w_630/v1491381016/production/designs/1390988_1.jpg").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
                img(src="").item-flex
        script(type='text/javascript', src='js/vendor.min.js')
        script(type='text/javascript', src='js/app.min.js')